*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(26, 26, 26);

}

#check{
    display: none;
}

.checkbtn{
    display: none;
}

#container {
    margin: 10px;
    width: 100%;
}

#nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 10px;
    background: var(--clr-main);
    position: fixed;
    top: 0;
    width: 100%;
}

#menu-nav ul{
    display: flex;
    list-style-type: none;
}

#tittle{
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 15px;
}


#menu-nav ul li{
    width: 120px;
    color: white;
    font-size: 20px;
}

.link-menu{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.link-menu:hover{
    border:1px solid;
    padding: 7px;
}

.link-menu:active{
    border:1px solid blue;
}

#home{
    margin-top: 65px;
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
}

#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 110px;
}

#home-container img{
    height: 200px;
    width: 40%;
}

#home-container h1{
    text-align: center;
    color: white;
    font-size: 100px;
    padding-bottom: 15px;
    padding-left: 125px;
    width: 100%;

}

#home-container p{
    text-align: center;
    color: white;
    font-size: 25px;
    padding-left: 125px;
}

#home-container button{
    background-color: blue;
    color: white;
    height: 55px;
    width: 15%;
    margin-left: 125px;
    margin-top: 25px;   
    font-size: 20px;
    border-radius: 20px;
    transition: 0.3s linear;
    background: linear-gradient(to bottom right, blue, 60%, rgb(248, 18, 2));
    border: none;
}

#home-container button:hover{
    box-shadow: 0 0 30px rgb(4, 96, 99);
    background: linear-gradient(to bottom right, rgb(255, 68, 0), blue 60%);
    cursor: pointer;
}

#image-home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-home img{
    padding-top: 80px;
    height: 350px;
    width: 50%;
}

#about{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#about-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#about-container h4{
    color: white;
    text-align: center;
    font-size: 25px;   
}

#about-container h1{
    font-size: 45px;
    color: white;
    text-align: center;
}

#about-container p{
    text-align: center;
    font-size: 25px;
    color: white;
}

#about-container button{
    color: white;
    background-color: blue;
    height: 55px;
    border-radius: 20px;
    width: 15%;
    font-size: 20px;
    transition: 0.6s linear;
    background: linear-gradient(to bottom right, blue, 60%, rgb(248, 18, 2));
    border: none;
}

#about-container button:hover{
    box-shadow: 0 0 30px rgb(4, 96, 99);
    background: linear-gradient(to bottom right, rgb(255, 68, 0), blue 60%);
    cursor: pointer;
}


#image-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#image-about img{
    width: 80%;
}

#menu{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-tittle{
    width: 100%;
    align-items: center;
    text-align: center;
}

#menu-tittle h2{
    color: white ;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

#menu-tittle p{
    color: white;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#menu-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}


.box{
    margin: 5px;
    background-color: rgb(247, 246, 245);
}

.tittle-prod{
    width: 100%;
    margin: 15px;
}

.box .image-prod{
    width: 100%;
}

.image-prod img{
    height: 300px;
    width: 20vw;
}

.tittle-prod h2{
    width: 100%;
    text-align: center;
    color: black;
}

.tittle-prod h3{
    color: black;
    width: 100%;
    text-align: center;
}

.tittle-prod p{
    color: black;
    width: 100%;
    text-align: center;
}

#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#service-tittle h2{
    text-align: center;
    color: white;
    font-size: 20px;
}

#service-tittle h1{
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 25px;
}

#countainer-services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 105px;
    width: 100%;
    flex-wrap: wrap;
}

.service .service-image{
    width: 100%;
}

.service-image img{
    height: 300px;
    width: 100%;
}

.service .service-name{
    color: white;
    text-align: center;
    font-size: 15px;
}

.service .service-description{
    color: white;
    font-size: 15px;
    text-align: center;
}

#advertisement{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#advertisement-box{
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 1px solid white;
    border-radius: 10px ;
    background-image: url("css/images/South-Korea-Flag.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;

}

#advertisement button:hover{
    box-shadow: 0 0 30px rgb(4, 96, 99);
    background: linear-gradient(to bottom right, rgb(255, 68, 0), blue 60%);
    cursor: pointer;
}

#advertisement-box h1{
    text-align: center;
    padding-bottom: 20px;
}

#advertisement-box button{
    background-color: BLUE;
    color: white;
    height: 45px;
    width: 120px;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.6s linear;
    background: linear-gradient(to bottom right, blue, 60%, rgb(248, 18, 2));
    border: none;
}

#footer{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.links-footer h1{
    color: white;
    border-bottom: 2px solid red;
}


.links-footer ul{
    list-style-type: none;
    margin-top: 20px;
}

.links-footer ul li{
    color: white;
    padding-bottom: 4px;
}

.links-footer-contact ul li{
    color: white;
    padding-bottom: 4px;
}

.links-footer-contact ul{
    list-style-type: none;
    margin-top: 20px;
}

.links-footer-contact h1{
    color: white;
    border-bottom: 2px solid blue;

}

.link-footer{
    list-style: none;
    text-decoration: none;
    color: white;
}

#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 18px;
    padding: 10px;
    background-color: #ffffff;
    color: blue;
    text-decoration: none;
    border-radius: 60%;
}

#scrollTop:active {
    background-color: red;
}



#scrollTop:target {
    width: 100%;
    display: none;
}

.bx.bx-up-arrow-alt{
    font-size: 20px; 
}


@media(max-width : 720px){

  
    #container{
        margin: 0;
        width: 80vw;
        height: auto;
    }

    #menu-nav{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    #menu-nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: rgb(29, 29, 29);
        text-align: center;
        z-index: 1;
        border: 2px solid black;
        
    }

    .checkbtn {
        color: white;
        display: block;
        cursor: pointer;
        margin-right: 50px;
    }

    #check:checked ~ #menu-nav ul {
        display: flex;
    }

    #menu-nav li {
        margin: 0;
        width: 100%;
        height: 80px;
    }

    #menu-nav li a {
        padding: 15px;
        display: block;
    }

    #home{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin-top: 100px;
    }

    #home-container{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 40px;
    }

    #home-container img{
        height: 200px;
        width: 40%;
        padding-left: 80px;
    }

    #home-container h1{
        width: 100%;
        color: #ffffff;
        font-size: 45px;
        text-align: center;
    }

    #home-container p{
        width: 100%;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #home-container button{
        width: 50%;
        background-color: blue;
        color: white;
        font-size: 18px;
        text-align: center;
    }

    #image-home{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #image-home img{
        width: 200px;
        height: 150px;
        padding-left: 75px;
    }

    #about{
        padding-top: 100px;
        height: auto;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 55px;
        margin-top: 100px;
    }

    #about-container{
        padding-right: 30px;
        width: 100%;
    }

    #about-container h4{
        font-size: 25px;
        text-align: center;
    }

    #about-container h1{
        align-items: center;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 25px;
    }

    #about-container p{
        text-align: center;
    }

    #about-container button{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 20px;
        font-size: 18px;
    }

    #image-about{
        margin-top: 70px;
        order: 2;
        height: auto;
        width: 100%;
    }

    #image-about img{
        width: 200px;
        height: 150px;
        padding-right: 27px;
    }

    #menu{
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 250px;
        padding-left: 40px;

    }

    #menu-box .box{
        padding: 10px;
    }

    .tittle-prod h2{
        color: black;
    }

    .tittle-prod h3{
        color: black;
    }

    .tittle-prod p{
        color: rgb(0, 0, 0);
    }


    
    .image-prod img{
        width: 200px;
        height: 150px;
    }

    #services{
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    #service-tittle{
        padding-left: 75px;
    }

    #service-tittle h1{
        font-size: 20px;
    }

    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 35px;
        padding-left: 75px;
    }

    .service-image img{

        height: 150px;
        width: 200px;
        
    }
    
    #advertisement{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 45px;
    }

    #advertisement-box{
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
        color: white;
    }

    #footer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .links-footer-contact{
        padding-left: 60px;
        padding-top: 50px;
    }

    .link-footer{
        list-style: none;
        text-decoration: none;
        color: white;
    }


    #scrollTop {
        display: none;
    }
}
