*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(22, 22, 46);

}

#container {
    margin: 10px;
    width: 100%;
}

#nav{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

#menu-nav ul{
    display: flex;
    list-style-type: none;
}

#tittle{
    width: 200px;
    text-align: center;
    color: #ff702a;
}

#menu-nav ul li{
    width: 120px;
    color: white;
    font-size: 20px;
    
}

.link-menu{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.link-menu:hover{
    border:1px solid #2f9e44;
    padding: 7px ;
    
}

#home{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#home-container{
    width: 100%;
}

#home-container h1{
    color: #ff702a;
    font-size: 80px;
    padding-bottom: 15px;
    padding-left: 125px;


}

#home-container p{
    color: #2f9e44;
    font-size: 25px;
    padding-left: 125px;
}

#home-container button{
    background-color: #ff702a;
    color: white;
    height: 45px;
    width: 15%;
    margin-left: 125px;
    margin-top: 25px;   
    font-size: 15px;
    border-radius: 50px;

}

#image-home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-home img{
    padding-top: 80px;
    height: 300px;
    width: 80%;
    border-radius: 25px;
}

#about{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#about-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

#about-container h4{
    color: #ff702a;
    font-size: 20px;   
}

#about-container h1{
    font-size: 40px;
    color: white;
    text-align: left;
}

#about-container p{
    font-size: 20px;
    color: white;
}

#about-container button{
    color: white;
    background-color: #ff702a;
    height: 30px;
    border-radius: 5px;
    width: 15%;

}

#image-about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#image-about img{
    width: 80%;
}

#menu{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-tittle{
    width: 100%;
    align-items: center;
    text-align: center;
}

#menu-tittle h2{
    color: #ff702a ;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#menu-tittle p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

#menu-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}


.box{
    background-color: rgb(247, 246, 245);
}

.tittle-prod{
    width: 100%;
}

.box .image-prod{
    width: 100%;
}

.image-prod img{
    height: 300px;
    width: 100%;
}

.tittle-prod h2{
    width: 100%;
    text-align: center;
    color: black;
}

.tittle-prod h3{
    color: black;
    width: 100%;
    text-align: center;
}

.tittle-prod p{
    color: black;
    width: 100%;
    text-align: center;
}

#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#service-tittle h2{
    text-align: center;
    color: #ff702a;
    font-size: 20px;
    padding-bottom: 30px;
}

#service-tittle h1{
    font-size: 30px;
    text-align: center;
    color: white;
}

#countainer-services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 105px;
    width: 100%;
    flex-wrap: wrap;
}

.service .service-image{
    width: 100%;
}

.service-image img{
    height: 300px;
    width: 100%;
}

.service .service-name{
    color: #ff702a;
    text-align: center;
    font-size: 15px;
}

.service .service-description{
    color: white;
    font-size: 15px;
    text-align: center;
}

#advertisement{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#advertisement-box{
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 1px solid white;
    border-radius: 10px ;
}

#advertisement-box h1{
    text-align: center;
    padding-bottom: 20px;
}

#advertisement-box button{
    background-color: #ff702a;
    color: white;
    height: 40px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
}

#footer{
    width: 100%;
    height: 50vh;
   display: flex;
   justify-content: space-evenly;
}

.links-footer h1{
    color: white;
    border-bottom: 2px solid #ff702a;
}


.links-footer ul{
    list-style-type: none;
    margin-top: 20px;
}

.links-footer ul li{
    color: white;
    padding-bottom: 4px;
}

#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 18px;
    padding: 10px;
    background-color: #ff702a;
    color: #fff;
    text-decoration: none;
    border-radius: 60%;
}

#scrollTop:hover {
    background-color: #2f9e44;
}

#scrollTop:target {
    width: 100%;
    display: none;
}

.bx.bx-up-arrow-alt{
    font-size: 20px; 
}


@media(max-width : 360px){

    *{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #container{
        margin: 0;
        width: 100%;
    }

    #home{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #home-container{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home-container h1{
        width: 100%;
        color: #ff702a;
        font-size: 30px;
        text-align: center;
    }

    #home-container p{
        width: 100%;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    #home-container button{
        width: 30%;
        background-color: #ff702a;
        color: white;
        text-align: center;
    }

}
